html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Mencegah scrolling horizontal */
}

body {
    min-height: 100vh; /* Minimal tinggi body adalah 100% viewport height */
    background: linear-gradient(to bottom right, #450505, #781015, #c34646, #c2242a, #560606);
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.container {
    
    position: relative; /* Tambahkan posisi relatif untuk kontainer */
    width: auto;
    margin: 0 auto;
    padding: 0 20px;
}
.logonike-container {
    display: flex; /* or 'display: grid;' */
; /* or adjust as needed */
    position: absolute;
    left: 49%;
    top: 10px;
}

.logonike {
    width: 80%;
    height: 80%;
}



.image-container {
    
    margin-top: 10px;
    position: relative; /* Tambahkan posisi relatif untuk kontainer gambar */
    display: flex;
    justify-content: center;
}

.image-container img {
    top:0;
    max-width: 90%;
    height: 100%;
    display: block; /* Menambahkan display block agar navigasi dapat ditempatkan di atasnya */
    margin: 0 auto; /* Mengatur margin ke auto untuk menengahkan gambar */
}

.product{
    transition: transform 0.5s, scale 0.5s;
}

.product:hover{
    z-index: 1;;
}


.item-bg {
    display: flex;
    position: absolute;
    max-width: 95%;
    height: 96%;
    top: 110px;
    left: 69.7%;
    transition: transform 0.5s, scale 0.5s;
    

}


.item-field {
    display: flex;
    max-width: 78%;
    left: 100%;
    height: auto;
    transition: transform 0.5s, scale 0.5s;
    filter: drop-shadow( 0 0 10px #ffffff);

}


.shoes{
    display: flex;
    position: absolute;
    max-width: 70%;
    height: auto;
    top: 30%;
    left: 18%;
    transform: rotate(34.63deg);
    filter: drop-shadow(-5px 7px 10px rgba(0, 0, 0, 1));
    z-index: 1;
    transition: transform 0.5s, scale 0.5s;
}

@keyframes slidein {
    from {
        margin-left: 20%;
        width: auto;
    }

    to {
        margin-left: 0%;
        width: auto;
    }
}
.logonike{
    left: 0;
}
.logo .nike{
    display: flex;
    position: absolute;
    max-width: 90%;
    height: 70%;
    top: -6%;
    left: 16%;
}

.logo .jordan{
    display: flex;
    position: absolute;
    max-width: 100%;
    height: 30%;
    top: 280px;
    left: 10%;
}

.logo .mdl-nike{
    display: flex;
    position: absolute;
    max-width: 100%;
    height: 110%;
    top: 15%;
    left: 30%;
    z-index: 1;
    filter: drop-shadow(-5px 7px 10px rgba(0, 0, 0, 1));
}

.product a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    position: absolute;
    top: 130px;
    left: 79.7%;
    transform: translateX(-50%);
    padding: 25px;
    padding-left: 10px;
    z-index: 1;
}

.navigation {
    display: flex;
    position: absolute;
    top: 0;
    left: 78%;
    transform: translateX(-50%);
    padding: 25px;
    padding-left: 10px;
    z-index: 1; /* Mengatur z-index ke nilai positif agar berada di depan */
}

.navigation a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    margin-right: 35px;
}

.button {
    background-color: #A61011;
    font-size: 28px;
    position: absolute;
    left: 16%;
    border: none;
    color: white;
    top: 70%;
    padding: 13px 38px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    cursor: pointer;
    border-radius: 30px;
}

.field {
    top: 120px;
    left: 71%;
    display: flex;
    position: absolute;
    transition: transform 0.5s;
    

}
.field:hover {
    transform: translateX(30px);
    filter: drop-shadow( 0 0 10px #ffffff);
 
}

.field .button2{
    position: absolute;
    display: flex;
    background-color: black;
    border: none;
    padding: 30px 30px;
    border-radius: 100%;
    top: 80%;
    display: inline-block;
    cursor: pointer;
    left: 58%;

    z-index: 1;
}

.field .button2 .vector{
    display: flex;
    top: 21%;
    left: 21%;
    position: absolute;
    max-width: 60%;
    height: auto;
}

.pict-container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 10px; /* Mengurangi jarak antar kolom */
    grid-row-gap: 0px;    /* Mengurangi jarak antar baris, jika ada */
    top: 630px;
    left: 60px;
}

.pict-container .imgnike {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
    transition: all 0.3s ease-in-out;

}

.pict-container .imgnike:hover { 
    transform: translateY(-15px);
}

.pict-container:hover > :not(:hover){
    opacity: 0.5;
}


@keyframes slidein2 {
    from {
        margin-left: -20%;
        width: auto;
    }

    to {
        margin-right: 0%;
        width: auto;
    }
}

.field .status-shoes{
    color: black;

}

.field .status-shoes h1{
    position: absolute;
    display: flex;
    top: 79%;
    left: 25%;

}

.field .status-shoes p{
    position: absolute;
    display: flex;
    top: 81.4%;
    left: 40%;

}

.field .status-shoes h3{
    position: absolute;
    display: flex;
    top: 76%;
    left: 22%;

}